*.md
!readme.md
_site/
assets/*
!assets/images/
assets/images/*
!assets/images/circles.svg
!assets/images/tree.svg
!assets/images/me-nobg.png
!assets/images/me-depth.png
!assets/styles/
!assets/scripts/
!assets/vendor/
!templates/*
node_modules/
protected/
.obsidian/
.trash/
*.canvas