@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.markdown-body {
  max-width: 800px;
  font-size: 16px;
  margin: 0 auto;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

.markdown-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: 'Roboto', sans-serif;
}

.iframe #crumbs {
  display: none;
}

.title-link {
  display: none;
  margin-left: 1rem;
}

.iframe .title-link {
  display: inline;
}

:root {
  --background-body: #030c22;
  --background: #20293f;
  --background-alt: #20293f;
  --text-main: #a9b0b3;
  --text-bright: #fff;
  --text-muted: #a9b0b3;
  --scrollbar-thumb: #a9b0b3;
  --scrollbar-thumb-hover: #fff;
  --links: #e0d498;
  --focus: #e0d498;
  --border: #e0d498;
  --code: #000;
  --button-hover: #a9b0b3;
}

:not(pre)>code {
  background: #2d2d2d;
  color: var(--text-main);
  border-radius: 0;
}

.article-details {
  font-size: small;
  opacity: 0.5;
}

.footer {
  margin-top: 4em;
  font-size: small;
  opacity: 0.5;
  width: 100%;
  text-align: center;
}

.iframe .footer {
  display: none;
}

.embedded-note {
  border: 1px solid var(--background-alt);
  box-shadow: 0px 0px 10px 0px #000;
  width: 100%;
  height: 20rem;
  padding-left: 1rem;
}