@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --background-body: #030c22;
  --background: #20293f;
  --background-alt: #20293f;
  --text-main: #a9b0b3;
  --text-bright: #fff;
  --text-muted: #a9b0b3;
  --scrollbar-thumb: #a9b0b3;
  --scrollbar-thumb-hover: #fff;
  --links: #e0d498;
  --focus: #a9b0b3;
  --border: #a9b0b3;
  --code: #000;
  --button-hover: #a9b0b3;
  --content-width: min(calc(100vw - 2rem), 800px);
}

html {
  min-height: 100%;
  max-width: 100%;
}

body {
  min-height: calc(100vh);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

body.iframe {
  padding: 0 10px;
}

.markdown-body {
  flex-grow: 1;
  font-size: 16px;
}

.markdown-body>* {
  box-sizing: border-box;
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}

#crumbs {
  width: var(--content-width);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body pre {
  background: var(--background);
  margin-right: auto;
  margin-left: auto;
}

.markdown-body pre code::-webkit-scrollbar-track {
  background-color: var(--background-body);
}

.markdown-body iframe:not(.embedded-note) {
  display: block;
}

.markdown-body li {
  line-height: 1.9em;
}

.markdown-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.markdown-body img.hidden {
  display: none;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: 'Roboto', sans-serif;
}

.iframe #crumbs {
  display: none;
}

.title-link {
  display: none;
  margin-left: 1rem;
}

.iframe .title-link,
.h-entry .title-link {
  display: inline;
}

:not(pre)>code {
  background: var(--background);
  color: var(--text-main);
  border-radius: 0;
}

.article-details {
  font-size: small;
  opacity: 0.5;
}

.footer {
  margin-top: 4em;
  margin-bottom: 2em;
  font-size: small;
  opacity: 0.5;
  width: 100%;
  text-align: center;
}

.iframe .footer {
  display: none;
}

.embedded-note {
  border: 1px solid var(--background-alt);
  box-shadow: 0px 0px 10px 0px #000;
  width: 100%;
  height: 20rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

.h-feed .h-entry {
  background: var(--background);
  padding: 1em;
  margin: 2em 0;
}

.h-feed .h-entry h2 {
  margin: 0;
}