---
title: Amar Memoranda
public: true
listed: true
---

<h1>Welcome</h1>

<p>This is the public root of <a href="https://yousefamar.com" target="_blank">Yousef Amar</a>'s personal knowledge base.</p>

<p>It's made up of {{ collections.all | count }} pages, of which {{ collections.all | count('public') }} are public, and {{ collections.all | count('listed') }} are listed below.</p>

{% include "graph.njk" %}