<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% if canonical %}
    <link rel="canonical" href="{{ canonical | url }}" />
    {% elif page.url %}
    <link rel="canonical" href="{{ site.url | url }}{{ page.url | url }}" />
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/themes/prism-tomorrow.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"/>
    <link rel="stylesheet" href="/memo/assets/styles/index.css"/>
    <script src="https://kit.fontawesome.com/a1b5a2aa60.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
    {% if acl %}
    <script src="https://cdn.jsdelivr.net/npm/collab-textarea@1.0.4/dist/index.js" type="module"></script>
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>