---
title: Amar Memoranda
layout: base
---

{% if breadcrumbs and eleventyNavigation.key %}
  <div id="crumbs">
    <a class="crumb" href="{{ '/' | url }}">Root</a> &gt;
    {% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: false }) %}
    {% for crumb in crumbs %}
      <a class="crumb" href="{{ crumb.url | url }}">{{ crumb.title }}</a> &gt;
    {% endfor %}
  </div>
  <script>
    if (window !== window.parent)
      document.body.classList.add('iframe');
  </script>
{% endif %}
<div class="markdown-body">
  <h1>{{ title }}<a class="title-link" href="" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></h1>
  {% if article or post %}
    <div class="article-details">
      {{ date | formatDate }} &bull; <a href="{{ authorUrl | url }}">{{ author }}</a> &bull; {{ content | readingTime }} read
    </div>
  {% endif %}
  {{ content | safe }}
  {% if feed %}
    <section class="h-feed">
      <h1 class="hidden p-name">Amar Memoranda > {{ title }}</h1>
      <noscript class="img">
        <img class="hidden u-photo" src="/memo/assets/images/me.png" alt="Yousef Amar" />
      </noscript>
      <a class="hidden p-author h-card" href="{{ authorUrl | url }}">{{ author }}</a>
      {% set children = collections.all | children(page.url) | reverse %}
      {% for child in children %}
        <div class="h-entry">
          <h2><span class="p-name">{{ child.data.title }}</span><a class="title-link u-url" href="{{ child.url | url }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
          <time class="hidden dt-published" datetime="{{child.data.date}}">{{child.data.date}}</time>
          {% if child.data.content %}
            <div class="e-content">
              {{ child.templateContent | safe }}
            </div>
          {% endif %}
          <div class="article-details">
            {{ child.data.date | formatDate }}
          </div>
        </div>
      {% endfor %}
  </section>
  {% elif index %}
    {% set children = collections.all | eleventyNavigation | extractChildren(eleventyNavigation.key) %}
    {% for child in children %}
      <div>
        <h2>
          <a href="{{ child.url | url }}">{{ child.title }}</a> 
        </h2>
        {% if child.description %}
          <p style="margin-left: 1em;">
            {{ child.description }}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
<div class="footer">
  {% if showLastModified and date %}
    Last modified on {{ page.date | formatDate }}<br/>
  {% endif %}
  Copyright &copy; <script>document.write(new Date().getFullYear())</script> Yousef Amar
</div>